# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars  # If you have sensitive values here

# AWS Credentials
.aws/
*credentials*

# Certificates
certs/
*.pem
*.key
*.crt

# Environment
.env
.env.*

gui/
*.sh
# OS
.DS_Store
Thumbs.db